# Ignore Python cache and environments
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/

# Ignore Java class files
*.class

# Ignore IDE files
.idea/
*.iml
.vscode/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore Node-related (just in case)
node_modules/

# Ignore .db files
*.db
